@media (min-width: 768px) and (max-width: 1023px) {
    nav {
        line-height: 32px;
    }
    nav ul { /*border: 1px solid blue;*/
        margin-top: 0;
        border: none;
        display: flex;
        justify-content: center;
        vertical-align: center;
        background: rgb(37, 37, 37);
        height: 100%;
        box-shadow: none;
    }
    nav ul li { border: 1px solid cyan;
       display: inline-block;
       width: 130px;
       border-radius: 7px;
       text-align: center;
       margin: auto 5px;
    }
    nav ul li a, nav ul li a[href="#"]:hover { border-radius: 7px;
        padding: 0;
        border: none;
        vertical-align: middle; 
    }
    nav ul li a:hover {
        border: 0;
        background: rgb(37,37,37);
        color: white;
        border: 1px solid white;
        box-shadow: 3px 3px 15px orange;
    }
    nav ul li a[href="#"]:hover{
        box-shadow: none;
    }
}